# Исключение виртуального окружения
env/
venv/

# Логи
*.log
*.out
*.err


# Конфигурационные файлы
.env
instance/
.flaskenv

# Системные файлы
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite
*.sqlite3

# Миграции Alembic
migrations/versions/*.pyc
migrations/versions/*.py

# IDE/редакторы кода
.vscode/
.idea/

# Операционная система
.DS_Store
Thumbs.db

# Другие временные файлы
*.swp
*.swo
*.bak