{% extends "admin_base.html" %}

{% block page_content %}
<h1>Пользователи</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Email</th>
            <th>Роль</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role.name if user.role else 'Нет роли' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
