{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Quiz Jackpot </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">
                    <span id="current-time"></span>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <!-- Приветствие для авторизованного пользователя -->
                    <li><a href="#">Привет, {{ current_user.username }}!</a></li>
                    {% if current_user.role and current_user.role.name == 'admin' %}
                    <li><a href="{{ url_for('admin.dashboard') }}">Admin Panel</a></li>
                    {% endif %}
                {% else %}
                <!-- Текст для незарегистрированных пользователей без ссылки -->
                <li><a href="#">Предлагаю пройти регистрацию!</a></li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.logout') }}">Log Out ({{ current_user.username }})</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script>
    // Функция обновления времени
    function updateTime() {
        var currentTime = moment().format('LLL');  // Текущее время в формате "День, Месяц, Год, Время"
        document.getElementById('current-time').textContent = currentTime;
    }

    // Обновляем время при загрузке страницы и далее каждую минуту
    updateTime();
    setInterval(updateTime, 60000);
</script>
{% endblock %}